language: python
python:
    - "3.3"
    - "3.4"
    - "3.5"
    # - "pypy3" pypy3 implements py3.2 not supported anymore

sudo: false

addons:
  apt:
    packages:
      - strace

install:
  - pip install .
  - pip install -r dev_requirements.txt python-coveralls

branches:
  only:
    - master
    - test


script:
   - doit pyflakes
   - py.test --ignore-flaky
   - if [[ $TRAVIS_PYTHON_VERSION == '3.5' ]]; then doit coverage; fi
after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == '3.5' ]]; then coveralls; fi

notifications:
    email:
        on_success: change
        on_failure: change
