# modules required for development only
# $ pip install --requirement dev_requirements.txt

setuptools # for plugins
pyflakes
pycodestyle
pytest>=7.1.0
coverage>=6.0
doit-py>=0.4.0
tomli; python_version<"3.11"
