body {
  color: #333;
  background-color: #ddf;
  font-size: .75em;
}

h1 {  font-size: 1.80em; 	}
h2 {  font-size: 1.60em; 	}
h3 {  font-size: 1.40em; 	}
h4 {  font-size: 1.20em; 	}
h5 {  font-size: 1.10em; 	}
h6 {  font-size: 1.00em; 	}

ul {
  list-style: none;
}

div#header {
  font-size: 2.5em;
  font-family: fantasy;
  margin-left: 2em;
}

div#container {
  background-color: #eef;
  width: 700px;
  margin: 1em auto;
  border: 1px solid #888;
}

div#content-main {  
  width: 500px;
  padding: 0 3%;
}

div#side-bar {
  float: right;
  border-left: 1px solid #ddd;
  padding-left: 5px;
  font-size: 1.2em;
}

div#side-bar a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
}

div#side-bar ul{
  margin: 0;	     
  padding: 0;
}


div#footer {
  clear:both;
  color: #aaa;
}

div#footer a {
  color: #aaa;
  text-decoration: none;
}

/********ReST***********/

p.title {
  font-size: 1.5em;
  text-align: center;
}

pre.literal-block {
  background-color: #ccc;	
  overflow-x: auto;
  
}
