/* your styles go here */
      .pycode .hll { background-color: #ffffcc }
.pycode  { background: #f0f0f0; }
.pycode .c { color: #60a0b0; font-style: italic } /* Comment */
.pycode .err { border: 1px solid #FF0000 } /* Error */
.pycode .k { color: #007020; font-weight: bold } /* Keyword */
.pycode .o { color: #666666 } /* Operator */
.pycode .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
.pycode .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.pycode .cp { color: #007020 } /* Comment.Preproc */
.pycode .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
.pycode .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.pycode .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.pycode .gd { color: #A00000 } /* Generic.Deleted */
.pycode .ge { font-style: italic } /* Generic.Emph */
.pycode .gr { color: #FF0000 } /* Generic.Error */
.pycode .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pycode .gi { color: #00A000 } /* Generic.Inserted */
.pycode .go { color: #888888 } /* Generic.Output */
.pycode .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.pycode .gs { font-weight: bold } /* Generic.Strong */
.pycode .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pycode .gt { color: #0044DD } /* Generic.Traceback */
.pycode .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.pycode .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.pycode .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.pycode .kp { color: #007020 } /* Keyword.Pseudo */
.pycode .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.pycode .kt { color: #902000 } /* Keyword.Type */
.pycode .m { color: #40a070 } /* Literal.Number */
.pycode .s { color: #4070a0 } /* Literal.String */
.pycode .na { color: #4070a0 } /* Name.Attribute */
.pycode .nb { color: #007020 } /* Name.Builtin */
.pycode .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.pycode .no { color: #60add5 } /* Name.Constant */
.pycode .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.pycode .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.pycode .ne { color: #007020 } /* Name.Exception */
.pycode .nf { color: #06287e } /* Name.Function */
.pycode .nl { color: #002070; font-weight: bold } /* Name.Label */
.pycode .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.pycode .nt { color: #062873; font-weight: bold } /* Name.Tag */
.pycode .nv { color: #bb60d5 } /* Name.Variable */
.pycode .ow { color: #007020; font-weight: bold } /* Operator.Word */
.pycode .w { color: #bbbbbb } /* Text.Whitespace */
.pycode .mb { color: #40a070 } /* Literal.Number.Bin */
.pycode .mf { color: #40a070 } /* Literal.Number.Float */
.pycode .mh { color: #40a070 } /* Literal.Number.Hex */
.pycode .mi { color: #40a070 } /* Literal.Number.Integer */
.pycode .mo { color: #40a070 } /* Literal.Number.Oct */
.pycode .sa { color: #4070a0 } /* Literal.String.Affix */
.pycode .sb { color: #4070a0 } /* Literal.String.Backtick */
.pycode .sc { color: #4070a0 } /* Literal.String.Char */
.pycode .dl { color: #4070a0 } /* Literal.String.Delimiter */
.pycode .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.pycode .s2 { color: #4070a0 } /* Literal.String.Double */
.pycode .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.pycode .sh { color: #4070a0 } /* Literal.String.Heredoc */
.pycode .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.pycode .sx { color: #c65d09 } /* Literal.String.Other */
.pycode .sr { color: #235388 } /* Literal.String.Regex */
.pycode .s1 { color: #4070a0 } /* Literal.String.Single */
.pycode .ss { color: #517918 } /* Literal.String.Symbol */
.pycode .bp { color: #007020 } /* Name.Builtin.Pseudo */
.pycode .fm { color: #06287e } /* Name.Function.Magic */
.pycode .vc { color: #bb60d5 } /* Name.Variable.Class */
.pycode .vg { color: #bb60d5 } /* Name.Variable.Global */
.pycode .vi { color: #bb60d5 } /* Name.Variable.Instance */
.pycode .vm { color: #bb60d5 } /* Name.Variable.Magic */
.pycode .il { color: #40a070 } /* Literal.Number.Integer.Long */
