name: CI

on:
  push:
    branches: [master, test]
  pull_request:
    branches: [master, test]

jobs:
  test:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows, macos]
        python-version: ['3.10', '3.11', '3.12', '3.13', 'pypy-3.10']
        exclude:
          - os: windows
            python-version: pypy3
    steps:
      - if: ${{ matrix.os == 'ubuntu' }}
        run: sudo apt-get install strace
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      # https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/
      - id: pip-cache
        shell: bash
        run: echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('pyproject.toml', 'dev_requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-${{ matrix.python-version }}-
            ${{ runner.os }}-pip-
      - run: pip install . -r dev_requirements.txt
      # PyPy bundles cffi which declares pycparser as dependency but doesn't ship it
      - if: ${{ startsWith(matrix.python-version, 'pypy') }}
        run: pip install pycparser
      - run: pip freeze
      - run: pip check
      - run: doit pyflakes
      - run: doit codestyle
      - run: py.test -vv ${{ matrix.pytest-args }}
      - if: ${{ matrix.os == 'ubuntu' && matrix.python-version == '3.11' }}
        run: doit coverage
      - if: ${{ matrix.os == 'ubuntu' && matrix.python-version == '3.11' }}
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: false
